---
import {fetchFromAPI} from '../lib/conections';

interface Props {
    titulo: string;
    cantidad?: number;
}
const { titulo, cantidad } = Astro.props;

const todosLosProductos: any[] = await fetchFromAPI('productos') || [];

// Filtramos por notebooks y cortamos la cantidad
const hardwareFiltrado = todosLosProductos.filter((item: any) => item.categoria === 'telefonos');
const productos = hardwareFiltrado.slice(0, cantidad);
---

<section class="w-full">
    <h2 class="text-2xl mb-4">
        {titulo}
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        {productos.map((item: any) => (
            /* CARD: Solo tiene un borde simple 'border' para delimitar el área */
                <article class="border border-gray-300">
                    <a href={`/producto/${item.slug}`} class="block">

                        <div class="p-2">
                            <img
                                    src={item.image?.url || '/placeholder.png'}
                                    alt={item.nombre}
                                    class="w-full h-auto"
                            />
                        </div>

                        <div class="p-2">
                            <h3>
                                {item.nombre}
                            </h3>
                            <p>
                                $ {Number(item.precio).toLocaleString('es-CL')}
                            </p>
                        </div>
                    </a>
                </article>
        ))}
    </div>
</section>